# Dependencies
node_modules/

# Build
.next/
out/
.build/
dist/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Testing
coverage/
playwright-report/
test-results/

# Serverless
.serverless/

# Prisma
prisma/migrations/

# pnpm
.pnpm-store/

# Prisma engines
*.node
backend/src/handlers/
!backend/src/handlers/**/*.ts

.pnpm-store/